doctype html
html
	head
		title Index
		link(rel='stylesheet' href='cosmo.min.css')
		link(rel='stylesheet' href='css/style.css')
	body 
		div.container
			div.row
				div.col-sm-4
					h1.pull-left PacktChat
				div.col-sm-4.col-sm-offset-4.top-margin
					div.pull-right
						-if(isAuthenticated){
						include ./partials/user-loggedin
						-}else{
						include ./partials/user-loggedout
						-}

			div.row
				block content
		script(src='js/socket.io.js')
		script.
			var socket = io.connect("http://localhost:3000/packtchat");
			socket.on('message', function(d){console.log(d);});
